﻿<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row" data-sf-element="Row">
                        <div class="sf_colsIn col-md-9" data-sf-element="Column 1" data-placeholder-label="Column 1">
                        </div>
                        <div class="sf_colsIn col-md-3" data-sf-element="Column 2" data-placeholder-label="Column 2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>