﻿@model Varsity.SitefinityWebApp.Mvc.Models.SocialInformationViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="mu-header-area">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="mu-header-top-left">
                            <div class="mu-top-email">
                                <i class="fa fa-envelope"></i>
                                <span>@Model.Email</span>
                            </div>
                            <div class="mu-top-phone">
                                <i class="fa fa-phone"></i>
                                <span>@Model.PhoneNumber</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="mu-header-top-right">
                            <nav>
                                <ul class="mu-top-social-nav">
                                    <li><a href="@Model.Facebook"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="@Model.Twitter"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="@Model.Google"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="@Model.Linkin"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="@Model.Youtube"><span class="fa fa-youtube"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
