﻿@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers
@using Telerik.Sitefinity.Libraries.Model
@using Telerik.Sitefinity.Modules.Libraries
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="mu-course-container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
            var thumbnailUrl = MediaContentExtensions.ResolveThumbnailUrl((Image)item.Fields.banner.DataItem, "750_500", true, null);
            <div class="col-md-6 col-sm-6">
                <div class="mu-latest-course-single">
                    <figure class="mu-latest-course-img">
                        <a href="@navigateUrl"><img src="@thumbnailUrl"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                            @if (item.GetFlatTaxon("coursecategories") != null)
                            {
                                <a href="#">@item.GetFlatTaxon("coursecategories").Title.ToString() </a>
                            }
                            @if (item.Fields.remaindate != null)
                            {
                                <span><i class="fa fa-clock-o"></i>@string.Format("{0}{1}", @item.Fields.remaindate, Html.Resource("UnitDay", "CourseResources"))</span>
                            }
                        </figcaption>
                    </figure>
                    <div class="mu-latest-course-single-content">
                        <h4><a href="@navigateUrl">@item.Fields.title</a></h4>
                        <p>@item.Fields.summary</p>
                        <div class="mu-latest-course-single-contbottom">
                            <a class="mu-course-details" href="@navigateUrl">@Html.Resource("CourseDetail", "CourseResources")</a>
                            @if (item.Fields.courseprice != null)
                            {
                                <span class="mu-course-price" href="#">@string.Format("{0}{1}", Html.Resource("UnitPrice", "CourseResources"), @item.Fields.courseprice)</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@if (Model.ShowPager)
{
    @Html.Action("Index", "CoursesPager", new
    {
        currentPage = Model.CurrentPage,
                    totalPagesCount = Model.TotalPagesCount.Value,
                    redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
    })
}