﻿@model Varsity.SitefinityWebApp.Mvc.Models.ContactViewModel
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@using (@Html.BeginFormSitefinity("Create", "Contact", FormMethod.Post, new { @class = "contactform" }))
{
    @Html.AntiForgeryToken();
    <p class="comment-form-author">
        <label for="Name">@Html.Resource("ContactName","ContactResources") <span class="required">*</span></label>
        @Html.TextBoxFor(model => model.Name, new { @required = "required", @size = 30 })
    </p>
    <p class="comment-form-email">
        <label for="email">@Html.Resource("ContactEmail", "ContactResources") <span class="required">*</span></label>
        @Html.TextBoxFor(model => model.Email, new { @required = "required", @type = "email" })
    </p>
    <p class="comment-form-url">
        <label for="subject">@Html.Resource("ContactSubject", "ContactResources")</label>
        @Html.TextBoxFor(model => model.Subject)
    </p>
    <p class="comment-form-comment">
        <label for="comment">@Html.Resource("ContactMessage", "ContactResources")</label>
        @Html.TextAreaFor(model => model.Message, new { @required = "required", @rows = 8, @cols = 45 })
    </p>
    <p class="form-submit">
        <input type="submit" value="@Html.Resource("SendMessage","ContactResources")" class="mu-post-btn" name="submit">
    </p>
}