﻿@model Varsity.SitefinityWebApp.Mvc.Models.ContactPageViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <div class="mu-title">
                        <h2>@Model.Title</h2>
                        <p>@Model.Summary</p>
                    </div>
                    <div class="mu-contact-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mu-contact-left">
                                    @Html.Action("Create", "Contact")
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mu-contact-right">
                                    @Html.Raw(Model.IFrameMap)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>