﻿@model Varsity.SitefinityWebApp.Mvc.Models.ExampleModulePageViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.UI.MVC;

<section class="example-module">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row m-t-25">
                    <div class="col-md-6 col-xs-12">
                        <h2>@Html.Resource("ExampleModule", "ExampleModuleResources")</h2>
                    </div>
                    <div class="col-md-offset-3 col-md-3 col-xs-12 right">
                        <a href="@Url.Action("Create","ExampleModule")" class="btn btn-primary col-md-12 col-xs-12">@Html.Resource("NewModule", "ExampleModuleResources")</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table100 ver1 m-b-110">
                            <table data-vertable="ver1" style="margin-top: 25px; margin-bottom: 25px">
                                <thead>
                                    <tr class="row100 head">
                                        <th class="column100 column2" data-column="column2">@Html.Resource("FirstName", "ExampleModuleResources")</th>
                                        <th class="column100 column3" data-column="column3">@Html.Resource("LastName", "ExampleModuleResources")</th>
                                        <th class="column100 column4" data-column="column4">@Html.Resource("Email", "ExampleModuleResources")</th>
                                        <th class="column100 column5" data-column="column5">@Html.Resource("Country", "ExampleModuleResources")</th>
                                        <th class="column100 column6" data-column="column6">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.ExampleModuleViewModels != null && Model.ExampleModuleViewModels.Count > 0)
                                    {
                                        foreach (var exampleModule in Model.ExampleModuleViewModels)
                                        {
                                            <tr class="row100">
                                                <td class="example-id hidden">@exampleModule.ExampleId</td>
                                                <td class="column100 column2" data-column="column2">@exampleModule.FirstName</td>
                                                <td class="column100 column3" data-column="column3">@exampleModule.LastName</td>
                                                <td class="column100 column4" data-column="column4">@exampleModule.Email</td>
                                                <td class="column100 column5" data-column="column5">@exampleModule.Country</td>
                                                <td class="column100 column6" data-column="column6">@Html.ActionLink("Update", "Update", new { exampleId = exampleModule.ExampleId.ToString() }) | <a href="#" class="delete-example-module">Delete</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('.delete-example-module').click(function () {
            var exampleId = $(this).closest(".row100").find(".example-id").text();
           swal({
                  title: "@Html.Resource("DeleteQuestion","ExampleModuleResources")",
                  text: "@Html.Resource("DeleteMessage","ExampleModuleResources")",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete","ExampleModule")',
                            data: { exampleId: exampleId },
                            success: function (data)
                              {
                                  if (data === true) {
                                      swal({
                                          text: "@Html.Resource("DeleteSuccessfully","ExampleModuleResources")",
                                          icon: "success",
                                      }).then((value) => {
                                           window.location.reload();
                                        });

                                  } else {
                                      swal("@Html.Resource("DeleteFail","ExampleModuleResources")", {
                                          icon: "warning",
                                      });
                                  }
                              },
                            failure: function(errMsg) {
                                alert(errMsg);
                            }
                        });

                  }
                });
        });
    });
</script>
